<div class="navbar-wagon">

  <!-- Left Navigation -->
  <div class="navbar-wagon-left">
    <% if user_signed_in? %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
                <%= t(".profile", default: "Perfil") %>
              <% end %>
            </li>
            <li>
              <%= link_to my_places_places_path do %>
                <%= t(".my_places", default: "Meus Lugares") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= t(".sign_out", default: "Sair") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Entrar"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "frilapreta.jpg", height: 50 %>
  <% end %>


  <% if user_signed_in? %>
    <!-- Search -->
    <% if current_page?(places_path) %>
      <i class="fa fa-search navbar-wagon-item" onclick="toggleSearchBar()"></i>
    <% end %>
  <% else %>
    <!-- Places -->
    <%= link_to "Estabelecimentos", stablish_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <% end %>
</div>
