<%= content_for :title, "Friiila - A vida sem fila" %>
<h1>Contas abertas no <%= @place.place_name %></h1>

<% @bills.each do |bill| %>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 cardpanda">
    <div class="frontpanda">
      <%= image_tag bill.user.photo, class: "contactpanda"%>
      <span class="namepanda"><%= bill.user.user_name %></span>
      <hr>
      <div class="jobpanda">
        <table>
          <tbody>
              <tr>
                <td>Total: </td>
                <% total = 0 %>
                <% bill.orders.each do |order| %>
                  <% total += order.item.price*order.amount%>
                <% end %>
                <td><%= total %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="backpanda">
      <%= link_to "Novo pedido", new_bill_order_path(bill), class: "novopididu" %>
      <div class="orders">
        <table>
          <tbody>
            <% bill.orders.each do |order| %>
              <tr>
                <td><%= order.amount %></td>
                <td><%= order.item.product %></td>
                <td><%= order.item.price*order.amount %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

        <%= link_to "Fechar conta", update_owner_place_bill_path(@place, bill), class: "fechaconta", method: :patch %>

    </div>
  </div>
<% end %>

<%= link_to "Voltar", my_places_places_path, class: "buttonverde", id: "position" %>
