<h1>Contas abertas no <%= @place.place_name %></h1>

<% @bills.each do |bill| %>
  <%= link_to bill_orders_path(bill) do %>
    <h3><%= image_tag current_user.photo, class: "foto"%> <%= bill.user.user_name %></h3>
  <% end %>
<% end %> <br>

<%= link_to "Voltar para minhas budegas", my_places_places_path, class: "btn btn-primary" %>
