<h1>Minha Conta</h1>

<p>Sou <%= @bill.user.user_name %> e estou no <%= @bill.place.place_name %></p>

<% @orders.each do |order| %>

    <h3><%= order.amount %> - <%= order.item.product %>.......<%= order.item.price %></h3>

<% end %>
