<%= content_for :title, "Friiila - A vida sem fila" %>
<h1>Todos os pedidos desse cliente: </h1>

<% @orders.each do |order| %>
    <h3><%= order.amount %> <%= order.item.product %> = <%= order.item.price*order.amount %> reais</h3>
<% end %> <br>

<%= link_to "Adicionar pedido", new_bill_order_path, class: "btn btn-primary" %>

<%= link_to "Voltar para clientes", my_open_bills_place_bills_path(@bill.place), class: "btn btn-primary" %>
