<%= content_for :title, "Friiila - A vida sem fila" %>
<h1>Adicione um novo pedido do criente</h1>


<%= simple_form_for([@bill, @order]) do |f| %>
  <% if @order.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :item_id %>
  <div id="black-font">
    <%= f.text_field :item_id, required: true %>
  </div>
  <%= f.label :amount, "Quantidade" %>
  <div id="black-font">
    <%= f.text_field :amount, required: true %>
  </div> <br>
  <%= f.submit "OK", class: "btn btn-primary" %>

  <%= link_to "Voltar para clientes", my_open_bills_place_bills_path(@bill.place), class: "btn btn-primary" %>

<% end %>
