<%= content_for :title, "Friiila - A vida sem fila" %>
<h1>Adicione um novo pedido do criente</h1>
    <%= form_tag create_multiple_bill_orders_path do %>
  <table>
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item|%>
        <tr>
          <td><%= item.product %><%= hidden_field_tag :item_id, item.id, name: "items[][item_id]" %></td>
          <td id="black-font"><%= text_field_tag :amount, "", name: "items[][amount]" %></td>
        <tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Submit" %>
<% end %>
