<%= content_for :title, "Friiila - A vida sem fila" %>
<h1>Adicione um novo pedido do cliente</h1>
    <%= form_tag create_multiple_bill_orders_path do %>
  <table id="table-size">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item|%>
        <tr>
          <td><%= item.product %><%= hidden_field_tag :item_id, item.id, name: "items[][item_id]" %></td>
          <td id="black-font" ><%= number_field_tag :amount, "", name: "items[][amount]", id: "amount-size" %></td>
        <tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Adicionar pedido", class: "buttonverde" %>
<% end %>
