
<%= content_for :title, "Friiila - A vida sem fila" %>
<!-- <div class="banner" style="background: linear-gradient(0deg, rgba(83, 65, 138, 0.46) 74%, rgba(0,0,0,0) 122%), url(<%#= asset_path 'cerveja.jpg'%>);">
      <div class="banner-content">
        <h1>Livre para ir e vir</h1>
      </div>
    </div> -->
<div id="bannerCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#bannerCarousel" data-slide-to="1"></li>
    <li data-target="#bannerCarousel" data-slide-to="2"></li>
    <li data-target="#bannerCarousel" data-slide-to="3"></li>
    <li data-target="#bannerCarousel" data-slide-to="4"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= asset_path "banner1.jpg" %>" alt="O futuro é Friiila", style="opacity: 0.5">
      <div class="carousel-caption banner-caption">
        <h1 class="carousel-title">O futuro é Friiila</h1>
        <h3 class="carousel-text">Tenha autonomia de ir e vir na balada!</h3>
        <%= link_to "Quero!", new_user_registration_path, class: "buttonverde-quero"%>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path "banner2.jpg" %>" alt="Sem maquininha", style="opacity: 0.5">
      <div class="carousel-caption">
        <h1 class="carousel-title">Sem maquininha</h1>
        <h3 class="carousel-text">Saia da fila e pague a conta com um click!</h3>
        <%= link_to "Quero!", new_user_registration_path, class: "buttonverde-quero"%>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path "banner3.jpg" %>" alt="Você no controle da sua conta", style="opacity: 0.5">
      <div class="carousel-caption">
        <h1 class="carousel-title">Você no controle da sua conta</h1>
        <h3 class="carousel-text">Acompanhe em tempo real seus pedidos!</h3>
        <%= link_to "Quero!", new_user_registration_path, class: "buttonverde-quero"%>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path "banner4.jpg" %>" alt="Compartilhe essa liberdade", style="opacity: 0.5">
      <div class="carousel-caption">
        <h1 class="carousel-title">Compartilhe essa liberdade</h1>
        <h3 class="carousel-text">Sua conta, seu consumo, sem parcial!</h3>
        <%= link_to "Quero!", new_user_registration_path, class: "buttonverde-quero"%>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path "banner5.jpg" %>" alt="E tudo isso sem tarifas", style="opacity: 0.5">
      <div class="carousel-caption">
        <h1 class="carousel-title">E tudo isso sem tarifas</h1>
        <h3 class="carousel-text">Baixe agora e seja Friiila!</h3>
        <%= link_to "Quero!", new_user_registration_path, class: "buttonverde-quero"%>
      </div>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#bannerCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#bannerCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<h1 class="text-center">Comece a usar</h1>
<div class="Wrapper">
  <div class"container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6 tubarao">

        <h3><i class="fa fa-map-marker"></i> Escolha o lugar </h3>
        <h3><i class="fa fa-hand-pointer-o"></i> Abra a conta</h3>
        <h3><i class="fa fa-bullhorn"></i> Avise o garçon que vc é Friiila</h3>
        <h3><i class="fa fa-tasks"></i> Acompanhe sua conta</h3>
        <h3><i class="fa fa-money"></i> Pague com um click!</h3>
      </div>

      <div class="col-md-4">
        <img src="<%= asset_path "iphonegif.gif" %>" class="img-responsive">
      </div>
      <div class="col-md-1"></div>
    </div>

  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This page is made with <i class="fa fa-heart"></i> by Extremalistas
  </div>
</div>
