


<%= content_for :title, "Friiila - A vida sem fila" %>
<!-- <div class="banner" style="background: linear-gradient(0deg, rgba(83, 65, 138, 0.46) 74%, rgba(0,0,0,0) 122%), url(<%#= asset_path 'cerveja.jpg'%>);">
      <div class="banner-content">
        <h1>Livre para ir e vir</h1>
      </div>
    </div> -->
<div id="bannerCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#bannerCarousel" data-slide-to="1"></li>
    <li data-target="#bannerCarousel" data-slide-to="2"></li>
    <li data-target="#bannerCarousel" data-slide-to="3"></li>
    <li data-target="#bannerCarousel" data-slide-to="4"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= asset_path "banner1.jpg" %>" alt="Seja Friiila">
      <div class="carousel-caption banner-caption">
        <h1 class="carousel-title">Seja Friiila</h1>
        <h3 class="carousel-text">Tenha autonomia do seu ir e vir na balada!</h3>
        <%= link_to "Quero!", new_user_registration_path, class: "buttonverde"%>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path "banner2.jpg" %>" alt="Não pare">
      <div class="carousel-caption">
        <h1 class="carousel-title">Aproveite mais</h1>
        <h3 class="carousel-text">Gaste mais tempo na balada e não na fila!</h3>
        <%= link_to "Quero!", new_user_registration_path, class: "buttonverde"%>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path "banner3.jpg" %>" alt="Não esquente">
      <div class="carousel-caption">
        <h1 class="carousel-title">Não esquente</h1>
        <h3 class="carousel-text">Diga adeus a parcial e a maquininha!</h3>
        <%= link_to "Quero!", new_user_registration_path, class: "buttonverde"%>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path "banner4.jpg" %>" alt="Compartilhe essa liberdade">
      <div class="carousel-caption">
        <h1 class="carousel-title">Compartilhe essa liberdade</h1>
        <h3 class="carousel-text">Fale com seus amigos e saiam todos juntos da balada!</h3>
        <%= link_to "Quero!", new_user_registration_path, class: "buttonverde"%>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path "banner5.jpg" %>" alt="Não pare">
      <div class="carousel-caption">
        <h1 class="carousel-title">Não pare</h1>
        <h3 class="carousel-text">Comece de novo, é tão fácil e rápido!</h3>
        <%= link_to "Quero!", new_user_registration_path, class: "buttonverde"%>
      </div>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#bannerCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#bannerCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<h3 class="text-center">Visão do cliente</h3>
<img class="banner2" src=<%= asset_path 'telaiphone.jpg'%>>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This page is made with <i class="fa fa-heart"></i> by Extremalistas
  </div>
</div>
<p></p>



