<%= simple_form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @place.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :place_name %>
  <%= f.text_field :place_name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "OK", class: "btn btn-primary" %>
<% end %>
