<%= content_for :title, "Friiila" %>
<h1>Lugares Legais</h1>

<div class="row">
  <% @places.each do |place| %>
  <div class="col-md-3 col-sm-4 col-xs-12">
    <%= link_to(place) do %>
      <div class="card">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path place.photo %>')">
          <div class="card-description">
            <p><%= place.place_name %></p>
          </div>
          <!-- <img class="card-user avatar avatar-large" src="images/jad.png"> -->
          <a class="card-link" href="#"></a>
        </div>
    <%end%>
        <div class="card-footer">
           <p><%= place.address %></p>
        </div>
      </div>
  </div>
  <% end %>
</div>
