
<%= content_for :title, "Friiila - A vida sem fila" %>

<!-- <div class="primeira search">
<i class="fa fa-search navbar-wagon-item" onclick="toggleSearchBar()"></i>
  <%#= form_tag places_path, method: :get, id: "search", :class => "hidden1"  do %>
    <%#= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "nome ou endereço"
    %>
  <%# end %>
</div> -->

<div class="primeira">
  <div class="container-search">
      <span class="icon"><i class="fa fa-search"></i></span>
      <!-- <input type="search" id="search" placeholder="   nome ou endereço" /> -->
      <%= form_tag places_path, method: :get, id: "search"  do %>
        <%= text_field_tag :query,
          params[:query],
          id: "search",
          placeholder: "nome ou endereço"
        %>
      <% end %>
  </div>
</div>

<br><br>

<div class="row">
  <% @places.each do |place| %>
    <div class="col-md-3 col-sm-4 col-xs-12">
      <%= link_to new_place_bill_path(place), data: { confirm: 'Pode abrir a conta?' } do %>
        <div class="card">
          <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path place.photo %>')">
            <div class="card-description">
              <p><%= place.place_name %></p>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  <% end %>
</div>
