<%= content_for :title, "Friiila - A vida sem fila" %>

<div class="primeira">
  <%= link_to new_place_path, class: "fa navbar-wagon-link" do %>
    <i class="fa fa-plus-square"></i>
    <!-- <div class= "buttonverde">Adicionar estabelecimento</div> -->
  <% end %>
</div>

<div class="row">
  <% @my_places.each do |place| %>
  <div class="col-md-3 col-sm-4 col-xs-12">
    <%= link_to my_open_bills_place_bills_path(place) do %>
      <div class="card">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path place.photo %>')">
          <div class="card-description">
              <%= place.place_name %>
          </div>
          <a class="card-link" href="#"></a>
        </div>
    <%end%>
        <div class="card-footer ">
          <%= link_to place_path(place), method: :delete, data: { confirm: "Que isso, tem certeza?" }, class: "fa navbar-wagon-link" do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
          <%= link_to edit_place_path(place), class: "fa navbar-wagon-link" do %>
             <i class="fa fa-edit"></i>
          <% end %>
        </div>
      </div>
  </div>
  <% end %>
</div>
</div>


