<%= content_for :title, "Friiila - A vida sem fila" %>
<h1><%= @place.place_name %></h1>
<h3><%= @place.address %></h3>

<% if current_user == @place.user %>
  <p><%= link_to "Ver as minhas budegas", my_places_places_path %></p>
<% end %>

<p><%= link_to "Ver todas as budegas", places_path %></p>

<%= cl_image_tag @place.photo %>

